[Desktop Entry]
Type=Application
Version=1.2
Name=Xplist
Comment=Plist viewer and editor
Exec=Xplist
Icon=xplist
Terminal=false
Categories=Development;System;Utility;
Keywords=plist;
